.insta_pic {
  opacity: 1;
  height: 100%;
  width: 100%;
  z-index: 6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition-timing-function: ease-in;
  transition: 0.2s;
}

.arrows {
  position: absolute;
  height: 100%;
  width: 100%;
}

.arrows .left {
  position: absolute;
  left: 20px;
  top: 45%;
  color: white;
  font-size: 30px;
  z-index: 7;
}

.arrows .right {
  position: absolute;
  right: 20px;
  top: 45%;
  color: white;
  font-size: 30px;
  z-index: 7;
}

.arrows .right:hover,
.arrows .left:hover {
  cursor: pointer;
}

.insta_description {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  background: black;
  opacity: 0.7;
  box-shadow: 0px -9px 15px -2px rgba(0, 0, 0, 0.75);
  z-index: 8;
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: raleway;
}

.insta_timestamp,
.insta_caption {
  color: white;
  padding: 20px;
  z-index: 9;
}

.insta_timestamp {
  margin-top: 10px;
}

.social_close:hover {
  cursor: pointer;
}
