.itinerary_add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: 40px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  padding: 5px;
}

.itinerary_submit:hover {
  cursor: pointer;
}

.itinerary_submit {
  margin-left: 5px;
}
