.Search {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.Searcher {
  position: absolute;
  height: 100%;
  left: 0;
  width: 25vw;
  z-index: 1;
  background-color: white;
  box-shadow: 10px 10px 7px -9px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Searcher_Main {
  width: 100%;
  top: 100%;
}

.ToggleSearchBar {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  top: 15%;
  left: 25vw;
  z-index: 1;
  box-shadow: 10px 10px 7px -9px rgba(0, 0, 0, 0.75);
}

.ToggleSearchBar:hover {
  cursor: pointer;
}
